
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  overflow: visible;
}


:root {
    --scroll: 0;
    --background: #05161a; 
  }

body {
    display: grid;
    background: var(--background);
}

#header {
    width: 100%;
    height: 76%;
    background-size: cover;
    background-position: left;
}

.container {
  width: 100%;
  height: 100%;
  padding: 10px ;
  background: rgb(109,165,192);
background: linear-gradient(90deg, rgba(109,165,192,1) 0%, rgba(12,112,117,1) 20%, rgba(0,0,0,1) 100%);
}

.container::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: aliceblue;
    position: absolute;
    left: 0;
    top: 92px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


nav ul li {
    display: inline-block;
}


nav ul li a{
    align-items: center;
    text-align:  center;
    color: white;
    text-decoration-line: none;
    position: relative;

}

li a{
    font-size: 27px;
    border-radius: 10px ;
    margin: 10px;
}

.third {
    border-color: #6DA5C0;
    color: white;
  }

.third:hover {
    background-position: 0%;
    cursor: pointer;
    color:#05161a ;
    animation: glow 2s ease-in-out infinite;
  }

@keyframes glow {
  0%, 100% {
    color: #FFF;
    text-shadow: 0 0 15px #6DA5C0, 0 0 15px #6DA5C0, 0 0 15px #6DA5C0;
  }
}

.row {
    align-items: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

#row1 {
  align-items: center;
}
  
.column1 {
    text-align: end;
    line-height: 6.2vw;
    padding-top: 1%;
    flex: 50%;
    padding-left: 5%;
    font-size: larger;
  }

.typing1 {
  text-align: right;
  opacity: 0;
  line-height: 6vw;
  color: #6DA5C0;
  animation: slideDown ease 1.5s forwards .2s;
}

.typing2 {
  color: white;
  text-align: right;
  animation: slideRight ease-in-out 3s forwards 0.3s;
  margin-right: 5%;
  opacity: 0;
}

.typing3 {
  opacity: 0;
  color: #6DA5C0;
  text-align: right;
  animation: slideUp ease 1.5s forwards .2s;
}


@keyframes slideUp {
  0% {transform: translateY(4vw);opacity: 0;}
  100% {transform: translateY(-0vw);opacity:1;}
}

@keyframes slideRight {
  0% {transform: translateX(-2.5vw);opacity: 0;}
  100% {transform: translateX(2.5vw);opacity:1;}
}

@keyframes slideLeft {
  0% {transform: translateX(5vw);opacity: 0;}
  100% {transform: translateX(0vw);opacity:1;}
}

@keyframes slideDown {
  0% {transform: translateY(-5vw);}
  100% {transform: translateY(0vw);opacity:1;}
}

.column1 h1{
    margin-top: 0.5%;
  }

.column2 {
  padding-right: 5%;
  padding-left: 3%;
  margin-top: 2%;
  flex: 50%;
}

.pic {
  height: 100%;
  width: 93%;
  animation: slideLeft ease-in-out 3s forwards 0.3s;
  opacity: 0;
}

.x {
  stroke: aliceblue;
  stroke-width: 3px;
  stroke-dasharray: 100px;
  stroke-dashoffset: 100px;
  animation-play-state: running;
  animation: LineAnimation ease-in-out 1s forwards 1.2s;

}

.y {
  stroke: aliceblue;
  stroke-width: 3px;
  stroke-dasharray: 520px;
  animation-play-state: running;
  animation: LineAnimation 3.2s ease-in-out 2.2s forwards;
  stroke-dashoffset: 520px;

}

.z {
  stroke: aliceblue;
  stroke-width: 3px;
  stroke-dasharray: 100px;
  stroke-dashoffset: 100px;
  animation: LineAnimation 0.3s linear 5.3s  forwards;
  animation-play-state: running;
}

svg:hover {
  .x {
    animation: bk .7s ease-in forwards;
    stroke-dashoffset: 100px;
  }
  .y {
    animation: bk 2s ease-in forwards;
    stroke-dashoffset: 520px;
  }

  .z {
    animation: bk 0.2s ease-in forwards;
    stroke-dashoffset: 100px; 
  }
}

@keyframes LineAnimation {
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes bk {
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes up {
  to {
    stroke-dashoffset: 100px;
  }
}

.box{
  margin: 50px 5%;
  color: #05161a;
  background-color: #6DA5C0;
  border-radius: 15px
}

.c1 img {
  width: 100%;
  margin: 3.5%;
  border-radius: 15px;
}

.c1 {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  flex-basis: 35%;
}

.c2 {
  padding-top: 2%;

  padding-right: 2%;
  flex-basis: 60%;
}

.sub-title {
  font-size: 6vw;
  font-weight: 600;
}

.c2 p{
  font-size: 2.8vw;
  font-weight: 550;
  color: white;
}


.tab-titles {
  display: flex;
  margin: 3% 0px 20px 40px;
}

#trans {
  color: aliceblue;
  background-color: transparent;
  border: 1px solid #6DA5C0;
}

.box .tab-contents {
  margin: 3.5%;
}

.tab-links {
  margin-right: 50px;
  font-size: 2.5vw;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: white;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: 0.5s;
}

.tab-links.active-link{
  color: #6DA5C0
}

.tab-links.active-link::after{
  width: 70%;
}

.tab-contents ul li {
  list-style: none;
  font-size: 3vw;
  margin: 0% 0% 3% 0;
}

.tab-contents ul li span{
  color: antiquewhite;
  font-size: 2.25vw;
}

.tab-contents{
  display: none;
}

.tab-contents.active-tab{
  display: block;
}

#signed {
  color: #6DA5C0;
  background-color: black;
  text-align: center;
  font-size: 4.5vw;
  line-height: 6.5vw;
}

#signed h1 {
  margin-top: 3.5%;
  background-image: url(images/me.jpeg);
  background-size: 0;
  transition: text 1000ms;
  transition: color 500ms;
}

#signed h6{
  margin-left: 5%;
  color: white;
}

#lmao{
  width: 5%;
  opacity: 0;
}

#sanay {
  text-shadow: 0px 0px 4px #05161a;
}

#signed:hover {
  #love {
    animation: colorred ease-out 3.5s forwards 0.3s;
  }
  #lmao{
    animation: slideUp2 ease-out 3.5s forwards 0.3s;
  }

}

@keyframes slideUp2 {
  0% {transform: translateY(-8vw);opacity: 0;}
  40% {transform: translateY(-10w);opacity:0.8;}
  60% {transform: translateY(-10vw);opacity:1;}
  100% {transform: translateY(-14vw);opacity:0;}
}

@keyframes colorred {
  0% {color: #6DA5C0;}
  40%{color: red;}
  60%{color: red;}
  100%{color: #6DA5C0;}
}

.even1, .even2 {
  font-size: 3vw;
  line-height: 4vw;
  background-color: black;
  border: 1px solid antiquewhite;
  align-items: center;
  text-align: center;
  color: antiquewhite;
  padding-top: 2%;
  border-radius: 15px;
  flex-basis: 46%;
  margin: 2%;
  transition: color 0.5s, transform 0.5s;
  height: 42vw;
  
}

.even2 {
  margin-left: 2%;
}

.even1 p, .even2 p{
  font-size: 2vw;
}

.even1 li, .even2 li{
  line-height: 3vw;
  margin-left: 5%;
  text-align: start;
  font-size: 1.5vw;
}

.even1 .inline, .even2 .inline{
  margin: 0 2%;
  display: inline;
  line-height: 0vw;
  text-align: center;
  font-size: 1.5vw;
  color: rgb(0, 136, 255);
}

.even1 img, .even2 img{
  height: 12vw;
  border: 3px solid antiquewhite;
  transition: border-color 0.4s;
  margin: 0 2%;
}

div.even1:hover, div.even2:hover {
  transform: translateY(-2%);
  background-color: antiquewhite;
  color: black;
  img {
    border: 3px solid black;
  }
  .inline {
    color: rgb(13, 0, 255);
  }
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  p {
    font-size: 1.4vw;
  }
}

.tooltip .tooltiptext {
  visibility: hidden;
  height: 13vw;
  width: 30vw;
  background-color: black;
  color: antiquewhite;
  text-align: left;
  border-radius: 6px;
  padding: 5px 1vw;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 23%;
  margin-left: -60px;
  line-height: 2vw;
}

#geckott {
  height: 5vw;
  left: 50%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 38%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#contact {
  margin-top: 3%;
  color: black;
  align-items: center;
  text-align: center;
  flex-basis: 48%;
  line-height: 8.9vw;
  font-size: 4vw;
}

#contact h1 {
  padding-top: 2%;
}

#contact h3 {
  font-size: 7vw;
}

#contact h2 {
  line-height: 3vw;
  font-size: 2vw;
  padding-bottom: 2%;
}

/*--------------------css for small screens----------------*/
@media only screen and (max-width: 600px) {
  
  .third {
    display: none;
    margin-top: 100%;
    font-size: 16px;
  }

  #svgg {
    max-height: 104px;
    margin: 0 auto; /* poor attempt at centering */
    height: auto !important;
    width: auto !important;
    display: block;
    max-width: 100%;
    margin-top: -5px;
  }
  .container {
    height: 90%;
  }

  .container::after {
    top: 82px;
  }

  #about {
    margin-top: -10%;
  }

  .box {
    margin: 80px 5%;
    margin-bottom: 10px;
  }

  #trans {
    margin-top: 0px;
    
    margin-bottom: 10.5%;
    
  }

  .tab-contents ul li {
    font-size: 4vw;
  }
  
  .tab-contents ul li span{
    color: antiquewhite;
    font-size: 3.25vw;
  }

  #courses {
    font-size: 3vw;
  }

  #signed .row {
    display: block;
  }

  .even1, .even2{
    font-size: 4.5vw;
    line-height: 5.1vw;
    height: 60vw;
  }

  .tab-titles{
    margin:  2.5%;
    p{
      font-size: 4.2vw;
      text-align: center;
    }
  }

  #signed {
    margin-top: 10px;
    margin-bottom: -5%;
    h1 {
      margin-bottom: 1%;
      font-size: 11vw;
    }
    h6 {
      font-size: 3.5vw;
    }
  }

  .even1, .even2 {
    font-size: 4vw;
    line-height: 5vw;
    margin: 3%;
    height: 58vw;
  }

  .even1 p, .even2 p{
    font-size: 2.8vw;
  }

  .even1 li, .even2 li{
    line-height: 3.9vw;
    margin-left: 5%;
    text-align: start;
    font-size: 2.95vw;
  }
  
  .even1 img, .even2 img{
    height: 19vw;
    border: 1px solid antiquewhite;
  }

  .even1 .inline, .even2 .inline{
    font-size: 2.95vw;
  }
  
  div.even1:hover, div.even2:hover {
    img {
      border: 1px solid black;
    }
  }

  .tooltip p{
      font-size: 2.9vw;
  }
  
  .tooltip .tooltiptext {
    height: 26vw;
    width: 60vw;
    border-radius: 6px;
    padding: 1vw 2vw;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 23%;
    line-height: 4vw;
  }
  
  #geckott {
    height: 10.5vw;
    left: 50%;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 38%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

  #contact{
    margin-top: -7%;
    h1 {
      font-size: 12vw;
    }

    h2 {
      font-size: 4vw;
      margin-bottom: 0%;
    }
    h3 {
      margin: 2%;
      font-size: 12vw;
    }
  }

  #final {
    padding-bottom: 1%;
    margin-bottom: 5%;
  }

}